.App {
  text-align: center;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color:rgb(112, 76, 182);;
  background-color: rgb(37, 23, 72);
}

ul {
  list-style: none;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: 2rem auto ;
}

input {
  border-radius: 1rem;
  border: solid 2px rgb(112, 76, 182);
  font-size: 3rem;
  padding: 1rem 2rem;
  color:#fff;
  background-color: rgb(37, 23, 72);
  margin: 2rem;
}

button {
  border-radius: 1rem;
  background-color: rgb(112, 76, 182);
  border: solid 2px rgb(112, 76, 182);
  font-size: 3rem;
  padding: 1rem 1rem;
  color: rgb(21, 29, 100);
}

input:checked + label {
  color: rgb(12, 219, 12);
}

span {
  color: red;
  padding: 0.1rem 0.9rem;
  border-radius: 10%;
  cursor: pointer;
  border: 1px solid red;
}
span:hover {
  background-color: rgb(74, 8, 8);
}

.checkbox {
  width: 3.5rem;
  height: 3.5rem;
  accent-color: rgb(12, 219, 12);
  margin: 0 2rem 0 -2rem;
  border-radius: 10%;
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-checkbox > input {
  max-width: 80%;
  word-break: break-all;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.button {
  appearance: none;
  border: none;
  background: none;
  font-size: 32px;
  padding: auto;
  height: 3.9rem;
  width: 3.9rem;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 10%;
  transition: all 0.5s;
}

.button:hover, .button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.value {
  background-color: rgba(112, 76, 182, 0.1);
  border: 2px solid rgb(112, 76, 182);
  color: rgb(112, 76, 182);
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 10%;
}