.App {
  text-align: center;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color:#000;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input:checked + label {
  color: blue;
}

span {
  color: red;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkbox:checked + svg .path-moving {
  -webkit-transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s cubic-bezier(.3,.8,.6,1.5);
  transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s cubic-bezier(.3,.8,.6,1.5);
  stroke-dasharray: 25 90;
  stroke-dashoffset: 0;
}

.path-moving,
.path-back {
  fill: none;
  stroke: #1161ee;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.path-moving {
  -webkit-transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s;
  transition: stroke .4s,stroke-dasharray .4s,stroke-dashoffset .4s;
  stroke: #ffffff;
  stroke-dasharray: 110;
  stroke-dashoffset: -32;
}