.App {
  text-align: center;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color:#000;
}

ul {
  list-style: none;
  align-items: center;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 70%;
  margin: 2rem auto ;
}

input {
  border-radius: 1em 0 0 3rem;
  border: solid 3px blue;
  font-size: 3rem;
  padding: 1rem 2rem;
}

button {
  border-radius: 0 3rem 3rem 0;
  background-color: blue;
  border: solid 3px blue;
  font-size: 3rem;
  padding: 1rem 1rem;
  color: white;
}

input:checked + label {
  color: blue;
}

span {
  color: white;
  background-color: red;
  padding: 0.1rem 0.9rem;
  border-radius: 10%;
  cursor: pointer;
}

.checkbox {
  width: 3.5rem;
  height: 3.5rem;
  accent-color: blue;
  margin: 0 2rem 0 -2rem;
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-checkbox > input {
  max-width: 80%;
  word-break: break-all;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.button {
  appearance: none;
  border: none;
  background: none;
  font-size: 32px;
  padding: auto;
  height: 3.9rem;
  width: 3.9rem;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 10%;
  transition: all 0.5s;
}

.button:hover, .button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.value {
  background-color: rgba(112, 76, 182, 0.1);
  border: 2px solid rgb(112, 76, 182);
  color: rgb(112, 76, 182);
}